<nav class="custom-nav">
  <div class="custom-nav-container">
    <ul class="custom-nav-links">
      <li class="nav-links ">
        <%= link_to animals_path, class: "" do %>
            <i class="fa-solid fa-house <%= set_active_class?(animals_path) %>"></i>
        <% end %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-links">
        <%= link_to animal_favourites_path(current_user), class: "" do %>
          <i class="fa-solid fa-heart <%= set_active_class?(animal_favourites_path(current_user)) %>"></i>
        <% end %>
      </li>
      <li class="nav-links ">
        <%= link_to chatroom_path(current_user), class: "" do %>
          <i class="fa-solid fa-message <%= set_active_class?(chatroom_path(current_user)) %>"></i>
        <% end %>
      </li>

        <li class="nav-links ">
          <a data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">
            <i class="fa-solid fa-user<%= set_active_class?(user_path(current_user)) %>"></i>
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas Test</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
        </div>
      </div>
    </ul>
  </div>
</nav>
