<nav class="custom-nav">
  <div class="custom-nav-container">
    <ul class="custom-nav-links">
      <li class="nav-links ">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-house <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <li class="nav-links ">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-heart <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <li class="nav-links ">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-message <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <% if user_signed_in? %>
       <li class="nav-links ">
        <%= link_to user_path(current_user), class: "" do %>
            <i class="fa-solid fa-user <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
