<nav class="custom-nav">
  <div class="custom-nav-container">
    <ul class="custom-nav-links">
      <li class="nav-links ">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-house <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <li class="nav-links">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-heart <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <li class="nav-links ">
        <%= link_to root_path, class: "" do %>
            <i class="fa-solid fa-message <%= set_active_class?(root_path) %>"></i>
        <% end %>
      </li>
      <li class="nav-links ">
        <a data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">
          <i class="fa-solid fa-user<%= set_active_class?(root_path) %>"></i>
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              <%= link_to "My profile", user_path(current_user), class: "text-decoration-none" %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
