<div id="profile-details">
  <div id="container-profile-image">
    <% if current_user.photos.attached?%>
      <% current_user.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 1000, width: 1000, crop: :fill %>
      <% end %>
    <% else %>
      <%= image_tag "user.svg", class: "img-placeholder" %>
    <% end %>
  </div>
  <div id="container-info">
    <h4>First name: <%= user.first_name %></h4>
    <h4>Last name: <%= user.last_name %></h4>
    <h6>Phone number: +230 <%= user.phone %></h6>
    <h6>Email: <%= user.email %></h6>
  </div>
</div>
<div class="container-my">
  <h3>My family</h3>
  <h5>I have ...</h5>
  <div class="container-details-my">
    <p>A dog/dogs <%= state[0] %></p>
    <p>A cat/cats <%= state[1] %></p>
  </div>
</div>
<div class="container-my">
  <h3>My space</h3>
  <h5>I have ...</h5>
  <div class="container-details-my">
    <p>A closed garden <%= state[2] %></p>
    <p>A basket <%= state[3] %></p>
    <p>A dog kennel <%= state[4] %></p>
  </div>
</div>
