<div id="pills-container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link inactive" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link inactive" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My animal requests</button>
    </li>
  </ul>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="container mt-3">
      <h3 class="pb-2">My adoption requests</h3>
      <div class="request-list">
        <% @adoptions.each do |adoption| %>
          <%= link_to animal_adoption_path(adoption.animal, adoption), class: 'card-request' do %>
            <div class="card-request-info">
              <% if adoption.animal.breed == "cat" %>
                <i class="fa-solid fa-cat"></i>
              <% else %>
                <i class="fa-solid fa-dog"></i>
              <% end %>
                <div>
                  <p class="m-0 p-0"><strong><%= adoption.animal.name %></strong></p>
                  <p class="m-0 p-0"><%= adoption.animal.age %> years old</p>
                </div>
                <i class="fa-solid fa-eye"></i>
            </div>
          <% end %>
        <% end %>
      </div>
      <br>
      <h3 class="pb-2">Requests for my animals</h3>
      <ul class="request-list">
        <% @requests.each do |request| %>
          <%= link_to animal_adoption_requests_path(request.animal, request.id), class: 'card-request' do %>
            <div class="card-request-info">
              <% if request.animal.breed == "cat" %>
                <i class="fa-solid fa-cat"></i>
              <% else %>
                <i class="fa-solid fa-dog"></i>
              <% end %>
                <div>
                  <p class="m-0 p-0"><strong><%= request.animal.name %></strong></p>
                  <p class="m-0 p-0"><%= request.animal.age %> years old</p>
                </div>
                <i class="fa-solid fa-eye"></i>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="container tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <h3 class="pb-2">My adoption requests</h3>
        <ul class="request-list">
          <% @adoptions.each do |adoption| %>
            <%= link_to animal_adoption_path(adoption.animal, adoption), class: 'card-request' do %>
              <div class="card-request-info">
              <% if adoption.animal.breed == "cat" %>
                <i class="fa-solid fa-cat"></i>
              <% else %>
                <i class="fa-solid fa-dog"></i>
              <% end %>
                <div>
                  <p class="m-0 p-0"><strong><%= adoption.animal.name %></strong></p>
                  <p class="m-0 p-0"><%= adoption.animal.age %> years old</p>
                </div>
                <i class="fa-solid fa-eye"></i>
              </div>
            <% end %>
          <% end %>
        </ul>
    </div>
    <div class="container tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
      <h3 class="pb-2">Requests for my animals</h3>
        <ul class="request-list">
          <% @requests.each do |request| %>
            <%= link_to animal_adoption_requests_path(request.animal, request.id), class: 'card-request' do %>
              <div class="card-request-info">
              <% if request.animal.breed == "cat" %>
                <i class="fa-solid fa-cat"></i>
              <% else %>
                <i class="fa-solid fa-dog"></i>
              <% end %>
                <div>
                  <p class="m-0 p-0"><strong><%= request.animal.name %></strong></p>
                  <p class="m-0 p-0"><%= request.animal.age %> years old</p>
                </div>
                <i class="fa-solid fa-eye"></i>
              </div>
            <% end %>
          <% end %>
        </ul>
    </div>
</div>
