<div class="container" id="container-request-my">
  <h2>Adoption request for <%= @adoption.animal.name %></h2>
  <p>Start date: <%= @adoption.start_date %></p>
  <p>Adoption status: <%= @adoption.status %></p>

  <%= simple_form_for [@animal, @adoption] do |f| %>
  <%= f.input :status, as: :radio_buttons, collection: ["approve", "reject"] %>
  <%= f.submit %>
  <% end %>

  <%= render "shared/profile_info", user: @adopter, state: @state %>
  <%= link_to "Back to adoption requests", adoptions_path, class: "btn btn-primary w-100" %>
</div>
