<div class="container-request">
  <h2>My <%= @animal.name %> adoption request</h2>
  <div id="request-info">
    <p class="m-0 p-0">Status: <%= @adoption.status %></p>
    <p class="m-0 p-0">Start date: <%= @adoption.start_date %></p>
  </div>
  <div id="request-links">
    <%= link_to adoptions_path, class: "" do %>
      <div class="back-icon">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <%= link_to "Animal details", animal_path(@animal), class: "btn-action" %>
  </div>
</div>
