<div class="container">
  <div class="container-request">
    <h2>Adoption request for <%= @adoption.animal.name %></h2>
    <div class="d-flex justify-content-between align-items center">
      <div>
        <p>Start date: <strong><%= @adoption.start_date %></strong></p>
        <% if @adoption.status == "pending" %>
          <%= simple_form_for [@animal, @adoption] do |f| %>
            <%= f.input :status, label: "Adoption status:", as: :radio_buttons, collection: ["approve", "reject"] %>
            <%= f.submit class: "btn-submit", style: "border:0px;"%>
          <% end %>
        <% else %>
          <p>Adoption status: <strong><%= @adoption.status %></strong></p>
        <% end %>
      </div>
      <div class="chat-icon d-flex align-items-center p-4">
        <%= link_to chatroom_path(params[:id]), method: :delete do %>
            <i class="fa-solid fa-comments"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-adopter-info">
    <h2>Adopter information</h2>
    <%= render "shared/profile_info", user: @adopter, state: @state %>
  </div>
  <%= link_to "Back to adoption requests", adoptions_path, class: "btn-action" %>
</div>
