<div class="container-request">
  <h2>My <%= @animal.name %> adoption request</h2>
  <div id="request-info">
    <p class="m-0 p-0">Start date: <strong><%= @adoption.start_date %></strong></p>
    <p class="m-0 p-0">Status: <strong><%= @adoption.status %></strong></p>
  </div>
  <div id="request-links">
    <div class="back-icon">
      <%= link_to adoptions_path, class: "" do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
    <%= link_to "Animal details", animal_path(@animal), class: "btn-action" %>
  </div>
</div>
