<h2>Adoption request for <%= @adoption.animal.name %></h2>
<p>Start date: <%= @adoption.start_date %></p>
<p>Adoption status: <%= @adoption.status %></p>


<%= render "shared/profile_info", user: @adopter, state: @state %>

<%= link_to "Back to adoption requests", adoptions_path %>
