<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Show all</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Dogs</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Cats</label>
</div>
<br>


    <% @animals.each do |animal| %>

      <div class="card <%= animal.breed %>">
        <div id="carousel<%= animal.id %>" class="carousel slide">
              <div class="carousel-indicators">
                <% animal.photos.each_with_index do |photo, index| %>
                  <button type="button" data-bs-target="#carousel<%= animal.id %>" data-bs-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
                <% end %>
              </div>
              <div class="carousel-inner">
                 <% animal.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                    <%= cl_image_tag(photo.key, { crop: :fill }) %>
                  </div>
                 <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= animal.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= animal.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        <div class="card-body">
          <h5 class="card-title"><%= animal.name %></h5>
          <% if animal.age == 1 %>
            <p class="card-text"><%= animal.age %> year</p>

          <% else %>
            <p class="card-text"><%= animal.age %> years</p>
          <% end %>
          <%= link_to "Show more details", animal_path(animal), class:"btn btn-outline-primary w-100" %>

          <% if user_signed_in? %>
            <%= link_to(
              toggle_favorite_animal_path(animal),
              data: {turbo_method: :post}) do
            %>
              <i class="fas fa-heart <%= animal.favorited_by?(current_user) ? 'favorite' : '' %>"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
