<div class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "All animals", animals_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @animal.name %></li>
    </ol>
  </nav>

</div>
<%# Carousel to be added %>
  <div class="img-full-width">
    <img src="https://res.cloudinary.com/dnhbgkoqn/image/upload/v1699357227/2150644648_kaxr1b.jpg">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to "Request for adoption", new_animal_adoption_path(@animal), class: "btn btn-warning" %>
  </div>
  <div class="container">
    <h2><%= @animal.name %></h2>
    <ul class="">
      <li><i class="fa-regular fa-heart"></i></li>
      <li><i class="fa-solid fa-share-nodes"></i></li>
    </ul>
    <%# Pills section %>
    <ul class="column">
      <li class="pill"><i class="fa-regular fa-calendar-xmark"></i> <%= @animal.age %> years</li>
      <li class="pill"><i class="fa-solid fa-syringe"></i> Vaccinated: <%= @state[0] %></li>
      <li class="pill"><i class="fa-solid fa-scissors"></i> Sterilised: <%= @state[1] %></li>
      <li class="pill"><i class="fa-solid fa-briefcase-medical"></i> Handicapped: <%= @state[2] %></li>
      <li class="pill"><i class="fa-solid fa-fire"></i> Behaviour: <%= @animal.behaviour %></li>
      <li class="pill"><i class="fa-solid fa-heart-circle-plus"></i> Compatibility: <%= @animal.compatibility %></li>
    </ul>
    <h3>Description</h3>
    <p><%= @animal.description %></p>

      <%# t.boolean "ok_sterilised", default: false
      t.boolean "ok_vaccinated", default: false
      t.string "location"
      t.bigint "user_id", null: false
      t.datetime "created_at", null: false
      t.datetime "updated_at", null: false
      t.boolean "handicapped", default: false
      t.string "behaviour"
      t.string "compatibility" %>
    <h3>Location</h3>
    <div style="width: 250px; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
