<div class="container">
  <%= link_to "Back", animals_path %>
  <h2><%= @animal.name %></h2>
  <p><%= @animal.age %></p>
  <ul>
    <li>Sterilised: <%= @animal.ok_sterilised %></li>
    <li>Vaccinated: <%= @animal.ok_vaccinated %></li>
    <li>Handicapped: <%= @animal.handicapped %></li>
    <li>Behaviour: <%= @animal.behaviour %></li>
    <li>Compatibility: <%= @animal.compatibility %></li>
  </ul>


    <%# t.boolean "ok_sterilised", default: false
    t.boolean "ok_vaccinated", default: false
    t.string "location"
    t.bigint "user_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.boolean "handicapped", default: false
    t.string "behaviour"
    t.string "compatibility" %>

  <div style="width: 250px; height: 200px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
